{% extends "site_base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load ifsetting_tag %}
{% load map_tags %}

{% block head_title %}{% trans "Map" %}{% endblock %}

{% block extra_style %}
  <link href="{% static "css/map.css" %}" rel="stylesheet" />
{% endblock %}

{% block extra_script %}
  <script>
    API = "{% url api_dispatch_list api_name="v1" resource_name="place" %}";
    {% if data %}
      app = {loaded: true};
    {% endif %}
  </script>
{% endblock %}

{% block body %}
  <div id="map">
    <div class="container">
      <div class="map-container map16">
        <div id="place-types" style="display:none">Places:&nbsp;
          <label for="place-types-1">1</label>&nbsp;<input id="place-types-1" name="place-types" type="checkbox" value="1" checked="checked" />&nbsp;&nbsp;|&nbsp;&nbsp;<label for="place-types-2">2</label>&nbsp;<input id="place-types-2" name="place-types" type="checkbox" value="2" />
        </div>
        <div><button id="add-place">Add Place</button></div>
        <div id="map-canvas">
          {% include "map/crosshair.html" %}
        </div>

      </div>
    </div><!-- container -->
  </div>
{% endblock %}


{% block extra_body %}
  <script type="text/javascript" src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
  <script type="text/javascript" src="{% static "js/json2.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone-tastypie.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

  {% include "map/edit-info-window-template.html" %}
  {% include "map/info-window-template.html" %}


  <script type="text/javascript" src="{% static "js/models.js" %}"></script>
  <script type="text/javascript" src="{% static "js/app.js" %}"></script>

  <script type="text/javascript">
      var zoom = 16; //{{zoom}}
      var center = "10.001025,-84.134588"; //"{{center}}"

      var preferences = new Preferences();
      preferences.setDefault('zoom', zoom);
      preferences.setDefault('center', center);

      var appData = new AppData({
        userid: {{ user.id|default_if_none:0 }},
        username: "{{ user.username|default_if_none:"" }}",
        zoom: 16,
        center: "10.001025,-84.134588"
      });

      DefaultParams.userid = {{ user.id|default_if_none:0 }}
      DefaultParams.username = "{{ user.username|default_if_none:"" }}"
      DefaultParams.usergroups = "{{ user.usergroups }}"
      DefaultParams.userisstaff = {{ userisstaff }}
      DefaultParams.userissuperuser = {{ userissuperuser }}
      DefaultParams.api_key = "{{ api_key }}"

      var placeTypes = new PlaceTypes();
      placeTypes.add({id: 1, name: "school"});
      placeTypes.add({id: 2, name: "business"});

      $(function() {
        var app = new MapView({
          el: '#map',
          model: appData,
          collection: placeTypes,
          title: "This is a title",
          preferences: preferences
        });
      });

      // placeTypes.get(1).show();
      // placeTypes.get(2).show();

      //places.fetch();

      x = 0;
  </script>
{% endblock %}
