{% extends "site_base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load ifsetting_tag %}
{% load map_tags %}

{% block head_title %}{% trans "Map" %}{% endblock %}

{% block extra_style %}
  <link href="{% static "css/map.css" %}" rel="stylesheet" />
  <link href="{% static "css/list.css" %}" rel="stylesheet" />
{% endblock %}


{% block extra_script %}
  <script>
    API = "{% url api_dispatch_list api_name="v1" resource_name="place" %}";
    {% if data %}
      app = {loaded: true};
    {% endif %}
  </script>
{% endblock %}

{% block body %}
  <div id="app">
      <div id="map">
        <div class="container">
          <div class="map-container">
            <h1 class="small page-header">Territory Title</h1>
            <div id="map-canvas">{% include "map/crosshair.html" %}</div>

            <div id="map-crosshair"><img src="{% static "img/map/crosshair.png" %}" title="Click to go to top of page." /></div>

            <div id="position">
              <ul class="nav nav-pills map-nav-pills">


                <li id="refresh"><a href="#" class="btn"><i class="icon-refresh"></i>Reload</a></li>

                {% if user.is_authenticated %}
                  <li><a href="#" class="btn" id="addPlace"><i class="icon-plus"></i>Add Place</a></li>
                {% endif %}

                <li id="listenForPositionUpdates"><a href="#" class="btn"><i class="icon-road"></i>Track Position</a></li>

                <li id="cancelTrack" style="display: none"><a href="#" class="btn"><i class="icon-remove"></i>Cancel Tracking</a></li>
                
                <span id="userposition" style="display: none">
                  <!--<span id="userpositionlatlng" style="display: none"><b>You:</b> <span id="userpositionlat"></span>,<span id="userpositionlng"></span></span>-->
                </span>

                {% if territoryno %}
                  <li class="dropdown">
                    <a id="territory-menu" class="btn dropdown-toggle" data-toggle="dropdown" href="#">Territory<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Add</a></li>
                    <li><a href="#">Print</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Admin</a></li>
                    </ul>
                  </li>
                {% endif %}
              </ul>


              <span id="crosshairposition">
                <!--<span id="crosshairpositionlatlng"><b>Crosshair:</b> <span id="crosshairlat"></span>,<span id="crosshairlng"></span></span>-->
              </span>
            </div>

            {% if user.is_authenticated %}
              <div id="log"></div>
              {% if territoryno %}
                <span style="page-break-before: always;"> </span>
                <div id="list"></div>
              {% endif %}
            {% endif %}
          </div>
        </div><!-- container -->
      </div>
      <div id="placeName"></div>

  </div>


{% endblock %}


{% block extra_body %}
  <script type="text/javascript" src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
  <script type="text/javascript" src="{% static "js/json2.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone-tastypie.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

  {% include "map/edit-info-window-template.html" %}
  {% include "map/info-window-template.html" %}

  <script type="text/javascript" src="{% static "js/polygonEdit_packed.js" %}"></script>
  <script type="text/javascript" src="{% static "js/app.js" %}"></script>

  <script type="text/javascript">
      var territoryno = "{{ territoryno|default_if_none:"0" }}";
      var zoom = 16; //{{zoom}}
      var center = "10.001025,-84.134588"; //"{{center}}"

      var preferences = new Preferences();
      preferences.set('territoryno', territoryno);

      preferences.setDefault('zoom', zoom);
      preferences.setDefault('center', center);
      preferences.setDefault('territoryno', territoryno);

      var appData = new AppData({
        userid: {{ user.id|default_if_none:0 }},
        username: "{{ user.username|default_if_none:"" }}",
        zoom: 16,
        center: "10.001025,-84.134588"
      });

      DefaultParams.userid = {{ user.id|default_if_none:0 }}
      DefaultParams.username = "{{ user.username|default_if_none:"" }}"
      DefaultParams.usergroups = "{{ user.usergroups }}"
      DefaultParams.userisstaff = {{ userisstaff }}
      DefaultParams.userissuperuser = {{ userissuperuser }}
      DefaultParams.api_key = "{{ api_key }}"
      DefaultParams.territoryno = "{{ territoryno|default_if_none:"" }}"

      $(function() {
        new AppView({
          el: '#app',
          model: appData,
          preferences: preferences
        });
      });

      // https://github.com/twitter/bootstrap/issues/2475
      $(window).resize(function () {
        var h = $(window).height(),
          offsetTop = 40; // Calculate the top offset

        $('#map-canvas').css('height', (h - offsetTop));
      }).resize();


  </script>
{% endblock %}
