<script type="text/template" id="edit-info-window-template">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >&times;</a>
    <h3>Edit Place - P<%= model.get('id') %></h3>
  </div>

  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label">Territory #</label>
          <div class="controls">
            <input id="ed-territoryno" type="text" class="input-small" value="<%= model.get('territoryno') %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Sort #</label>
          <div class="controls">
            <input id="ed-sortno" type="text" class="input-small" value="<%= model.get('sortno') %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Block #</label>
          <div class="controls">
            <input id="ed-blockno" type="text" class="input-small" value="<%= model.get('blockno') %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">House #</label>
          <div class="controls">
            <input id="ed-houseno" type="text" class="input-small" value="<%= model.get('houseno') %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Description</label>
          <div class="controls">
            <textarea class="input-xlarge"><%= model.get('description') %></textarea>
            <p class="help-block">Describe the physical features of this place.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Persons</label>
          <div class="controls">
            <textarea id="ed-persons" class="input-xlarge"><%= model.get('persons') %></textarea>
            <p class="help-block">Persons contacted at this place.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Languages</label>
          <div class="controls">
            <textarea id="ed-languages" class="input-xlarge"><%= model.get('languages') %></textarea>
            <p class="help-block">Insert a number in front of languages spoken in order of proficiency.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Notes</label>
          <div class="controls">
            <textarea id="ed-notes" class="input-xlarge"><%= model.get('notes') %></textarea>
            <p class="help-block">General notes regarding this place.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Interest Level</label>
          <div class="controls">
            <input id="ed-interestlevel" type="text" class="input-small" value="<%= model.get('interestlevel') %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Actions</label>
          <div class="controls">
            <textarea id="ed-actions" class="input-xlarge"><%= model.get('actions') %></textarea>
            <p class="help-block">Actions taken involving this place.</p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="save btn btn-primary">Save changes</a>
    <a href="#" class="btn" data-dismiss="modal" >Close</a>
  </div>
</script>