<script type="text/template" id="info-window-template">
  <div class="modal-header">
    <h3><%= model.get('markerno') %>&nbsp;&nbsp;p<%= model.get('id') %>

      <a href="#" class="delete btn">Delete</a>
      <a href="#" class="edit btn btn-primary">Edit</a>
      <a href="#" class="btn" data-dismiss="modal" >Close</a>

    </h3>
  </div>

  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          Territory:&nbsp;
          <%= model.get('territoryno') %>

          &nbsp;&nbsp;Marker#:&nbsp;
          <%= model.get('markerno') %>

          {% if interestlevel %}
            &nbsp;&nbsp;Interest Level:&nbsp;
            <%= model.get('interestlevel') %>
          {% endif %}

        </div>


        {% if houseno or directions or description%}
          <div class="control-group">
            <label class="control-label">Address</label>
            <div class="controls"><%= model.get('houseno') %> <%= model.get('directions') %> <%= model.get('description') %></div>
          </div>
        {% endif %}

        {% if persons %}
          <div class="control-group">
            <label class="control-label">Persons</label>
            <div class="controls"><%= model.get('persons') %></div>
          </div>
        {% endif %}

        {% if notes %}
          <div class="control-group">
            <label class="control-label">Notes</label>
            <div class="controls"><%= model.get('notes') %></div>
          </div>
        {% endif %}

        {% if actions %}
          <div class="control-group">
            <label class="control-label">Actions</label>
            <div class="controls"><%= model.get('actions') %></div>
          </div>
        {% endif %}

      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" >Close</a>
    <a href="#" class="edit btn btn-primary">Edit</a>
    <a href="#" class="delete btn">Delete</a>
  </div>
</script>