<script type="text/template" id="list-item-template">
	<div class="list-item-row" id="list-item-row-<%= model.get('id') %>">
    	<span class="list-markerno"><%= model.get('markerno') %></span>
    	{% if multiunit %}
    		&nbsp;
    		<span class="list-multiunit">MultiUnit</span>
    	{% endif %}
    	{% if not residential %}
    		&nbsp;
    		<span class="list-residential">BIZ</span>
    	{% endif %}
		{% if not confirmed %}
    		<span class="list-confirmed">?</span>
    	{% endif %}
    	<span class="list-id">p<%= model.get('id') %></span>
    	{% if interestlevel %}
    		&nbsp;
    		<span class="list-interestlevel">i<%= model.get('interestlevel') %></span>
    	{% endif %}
				    
		{% if houseno or directions or description%}
			<span class="list-title">ADDRESS:</span>&nbsp;
	    	<span class="list-houseno"><%= model.get('houseno') %></span>&nbsp;
	    	<span class="list-directions"><%= model.get('directions') %></span>&nbsp;
	    	<span class="list-description"><%= model.get('description') %></span>&nbsp;
	    {% endif %}
	    {% if persons %}
			<span class="list-title">PERSON(S):</span>&nbsp;
    		<span class="list-persons"><%= model.get('persons') %></span>&nbsp;
    	{% endif %}
	    {% if notes %}
	    	<span class="list-notes">N<%= model.get('notes') %></span>
	    {% endif %}

		{% if actions %}
			<div class="list-item-actions" id="list-actions-<%= model.get('id') %>">
				<td>
			    	<span class="list-actions"><%= model.get('actions') %></span>
			    </td>
			</div>
		{% endif %}
    </div>
</script>