<header id="overview" class="jumbotron subhead">
  <h1 class="small page-header">Territory Title</h1>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#section-map">Map</a></li>
      <li><a href="#section-list">List</a></li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#terr-cover">Cover Page</a></li>
          <li><a href="#terr-map-overview">Map Overview</a></li>
          <li><a href="#terr-map">Territory Map</a></li>
          <li><a href="#terr-map-zooms">Map Zooms</a></li>
          <li><a href="#terr-form-survey">Survey Form</a></li>
          <li><a href="#terr-instructions">Instructions</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>