body {
  padding-top: 40px;
  position: relative;
}
.modal form {
  margin-bottom: 0px;
}
#footer {
  margin-top: 80px;
}
#footer p {
  margin-bottom: 0;
}
#footer p.right {
  float: right;
}

.page-header {
  padding-bottom: 0; /*override*/
  margin: 0;
  border-bottom: 1px solid #eeeeee;
}

section {
  padding-top: 0;
}

#busy {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: 13em;
  top: 13px; }

#error {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: 13.5em;
  top: 10px; }
