{% extends "banner_base.html" %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Welcome to OurField" %}</h1>
    <p>
        {% blocktrans %}
        <b>OurField</b> is an <a href="http://www.webopedia.com/TERM/O/open_source.html">open-source</a> 
        <a href="https://github.com/LarryEitel/ourfield/">project</a> of particular interest to individuals 
        and groups engaged in volunteer activities that are organized into geographic <i>fields</i> or territories.
        {% endblocktrans %}
    </p>
    <h2>Note: This project is in early stages of development.</h2>
    <p>
        {% blocktrans %}
        Are you a professional website developer? Please <a href="http://form.jotform.com/form/20354418780">drop us a line</a> to see where you can be of assistance.
        To keep tabs on the status of this project, please "<a href="https://www.facebook.com/pages/ourfieldorg/184455028323371">Like</a>" this project on our Facebook <a href="https://www.facebook.com/pages/ourfieldorg/184455028323371">Page</a>. Thank you for your interest.
        {% endblocktrans %}
    </p>
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn primary large">Log In</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
{% endblock %}

{% block column-1 %}
    <h2>Development</h2>
    <p>Follow along or participate in the development of this project.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    <!--
    <ul>
        <li><a href="https://github.com/LarryEitel/ourfield">github project</a></li>
        <li><a href="https://github.com/LarryEitel/ourfield/issues">Issues</a></li>
    </ul>
    -->
{% endblock %}

{% block column-2 %}
    <h2>Roadmap</h2>
    <p>Where are we and where are we heading?</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}

{% block column-3 %}
    <h2>Tips</h2>
    <p>A collection of tips and techniques.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}