{% extends "theme_base.html" %}
{% load staticfiles %}
{% load ifsetting_tag %}
{% load googleanalytics %}
{% load flatblock_tags %}

{% load i18n %}

{% block style_base %}
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/print.css" %}" rel="stylesheet"media="print">
    {% block extra_style %}{% endblock %}

    <a name="home"></a>
{% endblock %}

{% block nav %}
    <ul class="nav">{% spaceless %}
        <!--"{% url map_index %}"-->
        <li id="tab_profile"><a href="/map/">{% trans "Map" %}</a></li>
    {% endspaceless %}</ul>
    {% block extra_nv %}{% endblock %}
{% endblock %}

{% block account_bar %}
    <form action="" class="navbar-search pull-right">
        <input type="text" placeholder="Search" class="search-query span2">
    </form>
    {% include "_account_bar.html" %}
    {% if user.is_authenticated %}
        <ul class="nav pull-right">{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}


{% endblock %}

{% block footer %}
    {% include "_footer.html" %}

    
{% endblock %}

{% block extra_body_base %}
    {% block google_analytics_js %}{% googleanalyticsjs %}{% endblock %}

    {% if not user.is_staff %}
        {% flatblock "clicky" %}
    {% endif %}

    {% block extra_body %}{% endblock %}
{% endblock %}
