{% extends "theme_base.html" %}
{% load staticfiles %}

{% load metron_tags %}
{% load i18n %}

{% block style_base %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="nav">{% spaceless %}
        <li id="tab_profile"><a href="{% url map_index %}">{% trans "Map" %}</a></li>
    {% endspaceless %}</ul>
    
    
    {% if user.is_authenticated %}
        <ul class="nav">{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
    
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
