<div id="pane-container">
        
        <a class="toggle active" href="#" style="display: block;"></a>
        
        <div id="pane-content" style="display: none;">
          <div id="tweets" class="pane-section" style="display: block; height: 100%;">
            <div class="pane-header">
              <h1 id="current-location">Location: 40.69847032728747, -73.9514422416687</h1>
              <div>Tweets within <b class="editable">10</b> miles radius</div>
            </div>
            <div class="hr"></div>
            <div class="scroll-pane" style="overflow: hidden; padding: 0px; width: 100px;">
              
            <div class="jspContainer" style="width: 100px; height: 90px;"><div class="jspPane" style="padding: 0px; top: 0px; width: 100px;"><div id="rows-content">
                <div id="rows" style="display: block;"><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/JohnayeE_CasH"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1806557073/image_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/JohnayeE_CasH">JohnayeE_CasH</a></span></div>
       <p>@BRUSCHIsays @gato_looco well said</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/DrLaurieND"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/448574023/IMG_1822_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/DrLaurieND">DrLaurieND</a></span></div>
       <p>95% of breast cancer is environmental in origin, but we are not sure what the specific causes are; the environment is hacking our hormones!</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/UnexpectedLove_"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1865722947/_40DR_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/UnexpectedLove_">UnexpectedLove_</a></span></div>
       <p>#Dontever allow someone to control you !</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/Claudiejcv"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1816934767/cha1zq45ow_134832865_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/Claudiejcv">Claudiejcv</a></span></div>
       <p>BONE NINJA FLASH DRIVE 4GB BLACK, DR10011-4BK: Don't be fooled by this slick ninja! Looks can deceive! For one, ... http://t.co/N2jgK66e</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/Tierraycd"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1866665540/ixqpme55m1_134599679-2_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/Tierraycd">Tierraycd</a></span></div>
       <p>Feminine Black Glove With Lace Removable Cuff: Fashionable and feminine all in one. These gloves have a removabl... http://t.co/ugnXHNbH</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/MattMarcotte"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1559157697/sign_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/MattMarcotte">MattMarcotte</a></span></div>
       <p>@nprmonkeysee INCONCIEVABLE!</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/artless"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1184892600/coffee_said_knock_you_out_squared_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/artless">artless</a></span></div>
       <p>RT @jessannecollins: Is hatepinning a thing yet?</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/Breanalut"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1815705322/womesz45zm_124025988-2_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/Breanalut">Breanalut</a></span></div>
       <p>Centric Parts 130.65046 Brake Master Cylinder: CENTRIC OEM REPLACEMENT BRAKE MASTER CYLINDER, COMPLETE READY TO ... http://t.co/osNpOpsg</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/MsJennaCrystal"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1889156809/IMG_5110_normal.JPG"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/MsJennaCrystal">MsJennaCrystal</a></span></div>
       <p>Since oomf apparently likes to show that certain someone all my tweets RIGHT? Lol THIS ONES FOR YOU 😄</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/Snikauris"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1885222857/image_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/Snikauris">Snikauris</a></span></div>
       <p>RT @iamdivaa: I always want to remain the woman he fell in love with. I think it's so necessary to maintain the spark</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/Tierraycd"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1866665540/ixqpme55m1_134599679-2_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/Tierraycd">Tierraycd</a></span></div>
       <p>Sudz By Kiss My Face Organic Shower Gel, In The Pink (8 oz) ( Multi-Pack): 12-unit VALUE PACK of Sudz By Kiss My... http://t.co/zzHi8Gkx</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/CryzMestrez"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1867712446/image_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/CryzMestrez">CryzMestrez</a></span></div>
       <p>Peach Baby!!! @DaSwEeTeStVoiCe</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/claynicholas"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/340771992/my_catch_of_the_day_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/claynicholas">claynicholas</a></span></div>
       <p>I love garage sailing.</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/fiercelucy"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1867681682/image_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/fiercelucy">fiercelucy</a></span></div>
       <p>@ColorMe_RED8 yes you would be lmbooo</p>
    </div></div><div class="row"><div class="thumb">
       <a class="tweet-user" href="http://twitter.com/#!/Tierraycd"><img width="48" height="48" alt="" class="avatar" src="http://a0.twimg.com/profile_images/1866665540/ixqpme55m1_134599679-2_normal.jpg"></a>
    </div>
    <div class="details">
       <div class="date"><span><a class="tweet-user" href="http://twitter.com/#!/Tierraycd">Tierraycd</a></span></div>
       <p>Wix 24683 Cabin Air Filter for select  Nissan models, Pack of 1: Wix Cabin Air Filters are designed to circulate... http://t.co/f69JZwcb</p>
    </div></div></div>
              <span id="load" style="display: none;">Loading....</span></div></div></div></div>
          </div>
        
          <div class="clear"></div>     
          
          <div style="display:none;" id="about" class="pane-section">
            <div class="pane-header">
              <h1>About</h1>
            </div>
            <div class="hr"></div>
            <div class="pane-content">
              <p>This is a sample project utilizing <a href="http://documentcloud.github.com/backbone/">Backbone.js</a>, Google map api, and Twitter search API.</p>
              <p>Please follow our blog at <a href="http://mobile.rdacorp.com">http://mobile.rdacorp.com</a>.
            </p></div>
          </div>

        </div>

      </div>